$cWhite: white;
$cBlack: black;
$cBgBlue:  #3b82f6;
$cBgRed: rgb(239 68 68);
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$shadowMd: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); // shadow-mdに対応
$shadowLg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
$contentMaxWidth: 1070px;
$navHeight: 100px;