/* styles.css */
/*初期値*/
:root {
    --salad-accordion-content-height: 0px;
}
.AccordionContent {
    overflow: hidden;
}
.AccordionContent[data-state='open'] {
    animation: accordionSlideDown 150ms ease-out;
}
.AccordionContent[data-state='closed'] {
    animation: accordionSlideUp 150ms ease-out;
    animation-fill-mode: forwards;
}

@keyframes accordionSlideDown {
    from {
        height: 0;
    }
    to {
        height: var(--salad-accordion-content-height);
    }
}

@keyframes accordionSlideUp {
    from {
        height: var(--salad-accordion-content-height);
    }
    to {
        height: 0;
    }
}